---
- name: Include brew taps list
  include_vars: vars/taps.yml
  tags:
    - brew_taps

- name: Include brew formula list
  include_vars: vars/formula.yml
  tags:
    - brew_formula

- name: Include brew casks list
  include_vars: vars/casks.yml
  tags:
    - brew_cask

- name: Include mas app list
  include_vars: vars/mas.yml
  tags:
    - mas

- name: Include pacman package list
  include_vars: vars/pacman.yml
  tags:
    - pacman

- name: Include AUR package list
  include_vars: vars/aur.yml
  tags:
    - aur

- name: Include APT package list
  include_vars: vars/apt.yml
  tags:
    - apt

- block:
    - name: Update/Upgrade Homebrew
      community.general.homebrew:
        update_homebrew: true
        upgrade_all: true
      tags:
        - brew_taps
        - brew_formula
        - brew_cask

    - name: Manage taps
      community.general.homebrew_tap:
        name: "{{ item.key }}"
        state: "{{ item.value.state | default('present') }}"
      with_dict: "{{taps}}"
      tags:
        - brew_taps

    - name: Manage formula
      community.general.homebrew:
        name: "{{ item.key }}"
        install_options: "{{ item.value.options | default(omit) }}"
        state: "{{ item.value.state | default('present') }}"
      with_dict: "{{formula}}"
      tags:
        - brew_formula

    - name: Manage casks
      community.general.homebrew_cask:
        name: "{{ item.key }}"
        state: "{{ item.value.state | default('present') }}"
      with_dict: "{{casks}}"
      tags:
        - brew_cask

    - name: Install mas formula
      community.general.homebrew:
        name: "mas"
        state: "present"
      tags:
        - mas

    - name: Manage Mac App Store apps
      community.general.mas:
        id: "{{ item.id }}"
        state: "{{ item.value.state | default('present') }}"
      with_dict: "{{mas}}"
      tags:
        - mas

    - name: Make sure all installed Mac App Store apps are up to date
      community.general.mas:
        upgrade_all: true
      tags:
        - mas

  when: ansible_os_family == "Darwin"

- block:
    - name: Update/Upgrade pacman
      community.general.pacman:
        update_cache: true
        upgrade: true

    - name: Manage pacman packages
      community.general.pacman:
        name: "{{ item.key }}"
        state: "{{ item.value.state | default('latest') }}"
      with_dict: "{{pacman}}"

  become: true
  when: ansible_os_family == "Archlinux"
  tags: pacman

- block:
    - name: Update/Upgrade apt
      ansible.builtin.apt:
        update_cache: true
        upgrade: dist

    - name: Manage apt packages
      ansible.builtin.apt:
        name: "{{ item.key }}"
        state: "{{ item.value.state | default('latest') }}"
      with_dict: "{{apt}}"

  become: true
  when: ansible_os_family == "Debian"
  tags: apt
