---
- name: Playbook to manage elnappos dotfiles (https://github.com/elnappo/dotfiles)
  hosts: localhost
  connection: local
  tasks:
    - name: load custom vars
      include_vars: ../vars.yml
      tags:
        - always

    - name: Make sure dotfiles are present
      git:
        repo: https://github.com/elnappo/dotfiles.git
        dest: ~/.dotfiles

    - name: Allow sudo without password
      lineinfile:
        dest: /etc/sudoers
        state: present
        line: "{{ ansible_user_id }}	ALL=NOPASSWD: ALL"
        insertafter: '^%admin\tALL=\(ALL\) ALL'
        validate: "visudo -cf %s"
      become: true
      when: sudo_without_password and ansible_os_family == "Darwin"

    - name: Enable tty_tickets
      lineinfile:
        dest: /etc/sudoers
        state: present
        line: "Defaults tty_tickets"
        validate: "visudo -cf %s"
      become: true
      when: ansible_os_family == "Darwin"

    - name: Install oh-my-zsh
      git:
        repo: https://github.com/robbyrussell/oh-my-zsh.git
        dest: ~/.local/share/oh-my-zsh
        update: yes

    - name: Install oh-my-fish
      git:
        repo: https://github.com/oh-my-fish/oh-my-fish.git
        dest: ~/.local/share/omf
        update: yes

    - name: Install tmux plugin manager
      git:
        repo: https://github.com/tmux-plugins/tpm.git
        dest: ~/.local/share/tpm
        update: yes

    - name: Install dein.vim
      git:
        repo: https://github.com/Shougo/dein.vim.git
        dest: ~/.local/share/dein/repos/github.com/Shougo/dein.vim
        update: yes

    - name: Create folder
      file:
        path: "{{item}}"
        state: directory
      loop:
        - "~/.cache/vim/"
        - "~/.cache/vim/backup/"
        - "~/.cache/vim/dein/"
        - "~/.cache/vim/swap/"
        - "~/.cache/vim/undo/"
        - "~/.cache/wget/"
        - "~/.config/fish/"
        - "~/.config/gtk-3.0"
        - "~/.config/i3/"
        - "~/.config/i3blocks/"
        - "~/.config/karabiner/"
        - "~/.config/omf/"
        - "~/.config/terminator/"
        - "~/.config/termite/"
        - "~/.config/vscode/"
        - "~/.local/share/bash/"
        - "~/.local/share/fish/"
        - "~/.local/share/zsh/"
        - "~/Coding/"
        - "~/Coding/golang/"
        - "~/Library/Application Support/Code/User/"

    - include_tasks: tasks/link_files.yml
      tags:
        - links

    - include_tasks: tasks/packages.yml
      tags:
        - packages

    - name: Install iTerm 2 shell integrations
      get_url:
        url: https://iterm2.com/shell_integration/{{item}}
        dest: ~/.local/share/{{item}}/iterm2_shell_integration.{{item}}
      loop:
        - "fish"
        - "zsh"
        - "bash"
      when: ansible_os_family == "Darwin"

    # Needs to be after packages
    - include_tasks: tasks/tmux_plugins.yml
      tags:
        - tmux_plugins

    - include_tasks: tasks/shells.yml
      tags:
        - shells

    - include_tasks: tasks/macos_defaults.yml
      when: ansible_os_family == "Darwin"
      tags:
        - macos_defaults

    - include_tasks: tasks/arch.yml
      when: ansible_os_family == "Archlinux"
      tags:
        - arch

  handlers:
    - name: Kill Dock
      command: killall Dock

    - name: Kill Finder
      command: killall Finder

    - name: Kill Transmission
      command: killall Transmission
      ignore_errors: yes

    - name: Kill Safari
      command: killall Safari
      ignore_errors: yes

    - name: Kill Terminal
      command: killall Terminal
      ignore_errors: yes
